<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #f9f9f9;color: #000000">
<div style="width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto;  margin-left: auto;">
    <div style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
        <div style="padding: 0; margin: auto;">
            <div style="padding: 0">
                <div style="display: flex; padding-top: 1.5rem;
                padding-bottom: 1.5rem; background: white;
                font-family: 'Roboto Slab', serif; font-size: 36px;
                font-weight: 700; line-height: 0.75;
                color: #384158; vertical-align: middle;">
                    <div style="margin: auto;">
                        Unic<span style="color: #14bdee">at</span>
                    </div>
                </div>
                <div class="pt-4 pb-4 flex-column"
                     style="display: flex; background: #14bdee;">
                    <div class="mt-4 mb-4 ml-auto mr-auto"
                         style="color: white; font-family: 'Lato',sans-serif;
                             font-weight: 400; line-height: 24px;
                             font-size: 28px;">
                        Please confirm your email
                    </div>
                </div>
                <div class="p-5"
                     style="display: flex; background: white;
                         font-family: 'Lato',sans-serif; font-size: 18px;
                         font-weight: 400; line-height: 24px;">
                    <div class="m-auto flex-column" style="display: flex;">
                        <div class="mb-4">
                            Hi,
                        </div>
                        <div class="mb-4">
                            There was a request to change your email!
                        </div>
                        <div>
                            Please click this link to confirm your email (this
                            link is only active for 10 minutes):
                            <div class="justify-content-center mt-5 mb-5"
                                 style="display: flex; ">
                                <a href="{{url}}" target="_blank"
                                   style="color: white; text-decoration: none">
                                    <div class="pl-5 pr-5 pt-4 pb-4"
                                         style="background: #14bdee">
                                        Confirm Email
                                    </div>
                                </a>
                            </div>
                        </div>
                        <i style="color: #888888;">
                            If you did not make this request then ignore this
                            email.
                        </i>
                    </div>
                </div>
                <div class="d-flex pt-4 pb-4 flex-column"
                     style="display: flex; background: #14bdee;">
                    <div style="margin: auto; color: white; font-size: 14px">
                        Copyright © 2023 All rights reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
