[run]
source = .
command_line = manage.py test
omit =
    ./unicat/db_router.py,
    ./venv/*,
    *tests*,
    *apps.py,
    *manage.py,
    *__init__.py,
    *migrations*,
    *asgi*,
    *wsgi*,
    *admin.py,
    *urls.py,
    *settings.py

[report]
omit =
    ./unicat/db_router.py,
    ./venv/*,
    *tests*,
    *apps.py,
    *manage.py,
    *__init__.py,
    *migrations*,
    *asgi*,
    *wsgi*,
    *admin.py,
    *urls.py,
    *settings.py