# IDE
/.idea

# Configs
/.*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.flake8
.pre-commit-config.yaml
nosetests.xml
coverage.xml

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

db.sqlite3
static/
media/
/README.md
