# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
/.idea

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

db.sqlite3
/static/
/media/
/venv/
